*.iml
.gradle
/local.properties
/.idea/workspace.xml
.idea/vcs.xml
/.idea/repositories.xml
/.idea/caches
/.idea/modules.xml
/.idea/deploymentTargetSelector.xml
.DS_Store
/build
/app/build
/captures
.externalNativeBuild
.cxx
.kotlin
